p {
    margin: 0;
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Swiper banner ppal */
.swiper {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiperSlide {
    display: flex;
    height: 100%;
    width: auto;
    justify-content: center;
}
    
.portada{
    width: auto;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    gap: 20px;
}

.portada img {
    width: 50%;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
}

.ledesma{
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 1024px) {

    .swiper{
        height: 85vh;
    }
    
    .portada {
        height: 85vh;
        flex-direction: column;
    }

    .portada img {
        width: 60%;
        height: auto;
        object-fit: contain;
        border-radius: 8px;
    }

    .ledesma {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .ledesma img {
        width: 40%;
        height: auto;
        object-fit: contain;
        border-radius: 8px;
    }
}

@media (max-width: 768px) {

    .portada {
        display: flex;
        height: 45vh;
        flex-direction: column !important;
    }

    .portada img {
        width: auto;
        height: 40%;
        object-fit: contain;
        border-radius: 8px;
    }

    .swiper {
        height: 45vh;
    }

    .ledesma {
        flex-direction: row;
        align-items: center;
    }

    .ledesma img {
        width: 45%;
        height: auto;
        object-fit: contain;
        border-radius: 8px;
    }

}