.tabsbar {
    display: flex;
    flex-direction: row;
    height: 8vh;
    min-height: 62px;
    background-color: #017FAF;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-between;
    z-index: 9999;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}
  
.visible {
    transform: translateY(0);
}

.hidden {
    transform: translateY(-100%);
}
  
@media (max-width: 899px) {
    .tabsbar {
        display: none;
    }
}

.tabs{
    display: flex;
    justify-content: center;
}

.tabs > button {
    background-color: #017FAF;
    border: none;
    color: white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
    margin: 10px;
}

.tabs > button:hover {
    background-color: #9fcddf;
    color: #0d1b2a;
}

.logo{
    width: 150px;
    height: auto;
    object-fit: contain;
    aspect-ratio: 3.44;
}

.logocontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
}

.socialscontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.socialscontainer > a {
    margin: 0 20px 0 0;
}
