.container {
    color: black;
    background-color: white;
}

/* Sucursales */
.sucursalesContainer{
    background-color: #017FAF;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sucursalCard {
    width: 260px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    color: white;
}

.sucursalCard a {
    color: white;
}

/* Como compar */
.cardsRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    width: 100%;
    justify-content: space-around;
}

.card {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: rgba(255, 255, 255);
    box-shadow: 5px;
    transition: ease-in-out 0.3s;
}

.card:hover {
    transform: scale(1.1);
}

.card img {
    width: 65%;
    height: auto;
}