.logocontainer{
    height: 10vh;
    min-height: 76px;
    border-radius: 50%;
}

.logocontainer > img{
    height: 100%;
    width: auto;
    object-fit: contain;
}

.logocontainermobile{
    display: none;
}

.logocontainermobile > img{
    height: 8vh;
    min-height: 66px;
    width: auto;
    object-fit: contain;
    padding: 5px;
}

.logo {
    height: 10vh;
    min-height: 76px;
    width: auto;
    object-fit: contain;
}

.socialscontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.socialscontainer > a {
    margin: 0 20px 0 0;
}

@media (max-width: 899px) {
    .socialscontainer{
        display: none;
    }

    .logocontainer{
        display: none;
    }

    .logocontainer img{
        display: none;
    }

    .logocontainermobile{
        display: flex;
        background-color: white;
        height: 8vh;
        min-height: 66px;
        border-radius: 50%;
        margin-right: 16px;
    }

    .logocontainermobile > img{
        height: 8vh;
        min-height: 66px;
        width: auto;
        object-fit: contain;
        padding: 5px;
    }
}
