.logocontainer{
    background-color: white;
    height: 10vh;
}

.logocontainer > img{
    height: 10vh;
    width: auto;
    object-fit: contain;
}

.logo {
    height: 10vh;
    width: auto;
    object-fit: contain;
}

.socialscontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.socialscontainer > a {
    margin: 0 20px 0 0;
}

@media (max-width: 899px) {
    .socialscontainer{
        display: none;
    }
}