.container {
    background-color: #017FAF;
    display: flex;
    flex-direction: column;
}
.footer {
    background-color: #017FAF;
    color: white;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}
  
.socialscontainer {
    display: flex;
    flex-direction: row;
}

.socialscontainer > a {
    margin: 0 20px 0 0;
}

.logocontainer{
    font-weight: bold;
    padding: 20px;
}

.logocontainer > img{
    height: 150px;
    width: auto;
    object-fit: cover;
}

.footertext {
    padding: 20px;
    font-size: 0.8em;
    text-align: center;
    color: white;
}

@media (max-width: 768px) {
    .footertext {
        position: relative;
        bottom: 0;
    }
}