.container {
    background-color: rgb(1, 127, 175);
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 30px 20px 0 20px;
}

.footer {
    background-color: rgb(1, 127, 175);
    color: white;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}
  
.socialscontainer {
    display: flex;
    flex-direction: row;
}

.socialscontainer > a {
    margin: 0 20px 0 0;
}

.logocontainer{
    font-weight: bold;
    padding: 20px;
}

.logocontainer > img{
    height: 150px;
    width: auto;
    object-fit: cover;
}

.footertext {
    padding: 20px;
    font-size: 0.8em;
    text-align: center;
    color: white;
    gap: 20px;
}

@media (max-width: 1024px) {
    .footertext{
        font-size: 0.7em;
    }
}

@media (max-width: 768px) {
    .footertext {
        display: none;
    }
}

.menu a {
    position: relative;
    border-bottom: none;
}

.menu a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: white;
    transition: all 0.3s ease;
}

.menu a:hover::after {
    width: 100%;
    left: 0;
}