/* Como compar cards */
p {
    color: #3a3a3a;
}

.cardsRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    /* padding: 30px 20px 60px 20px; */
    /* width: 85%; */
    /* border-radius: 0 160px 160px 0; */
    margin-top: 30px;
}

.textRowContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-bottom: 40px ;
}
.textRowLeft {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 45px 20px 45px 20px;
    width: 65%;
    height: 260px;
    border-radius: 0 160px 160px 0;
    margin-top: 30px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 1);
    align-self: flex-start;
    text-align: center;
    position: relative ;
}

.textRowRight {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 45px 20px 45px 20px;
    width: 65%;
    height: 260px;
    border-radius: 160px 0 0 160px;
    margin-top: 30px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 1);
    align-self: flex-end;
    text-align: center;
    position: relative;
}

.textRowIcon {
    width: 75px;
    height: auto;
    transition: transform 0.1s ease-in-out;
}

.textRowIcon:hover {
    transform: scale(1.1);
}

.textRowTitle {
    font-size: 1.5rem;
    font-weight: 600;
}

.textRowText {
    font-size: 1.15rem;
    font-weight: 500;
}
  
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 1);
    width: 280px;
    height: 290px;
    border-radius: 8px;
    margin: 10px;
    position: relative;
    transition: transform 0.1s ease-in-out;
}
  
.card:hover {
    transform: scale(1.05);
}
  
.cardImage {
    width: 60%;
    height: auto;
    margin-bottom: 16px;
    object-fit: contain;
}
  
.cardTitle {
    font-weight: 800;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 2px;
}
  
.cardText {
    font-weight: 600;
    font-size: 14px;
    max-width: 220px;
    line-height: 1.4;
    margin-top: 5px;
}

/* Sections */

.portada {
    width: 100%;
    max-width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.portadaimg {
    width: 90%;
    height: auto;
    object-fit: contain;
    max-width: 650px;
}

@media (max-width: 450px) {
    .portada {
        flex-direction: column;
    }

    p {
        font-size: 14px;
    }

    .textRowTitle {
        font-size: 16px;
        font-weight: 600;
    }

    .textRowText {
        display: none;
    }
}

@media (max-width: 768px) {
    .portada {
        height: 400px;
    }

    .portadaimg {
        height: 150px;
        width: auto;
    }

    .card {
      width: 210px;
      height: 220px;
    }

    .cardTitle {
      font-size: 12px;
    }

    .cardText {
      display: none;
    }

    .cardsRow {
      width: 100%;
      border-radius: 0;
      padding: 30px 20px 50px 20px;
    }

    .textRowLeft {
        width: 100%;
        border-radius: 0;
        padding: 30px 20px 50px 20px;
    }
    
    .textRowRight {
        width: 100%;
        border-radius: 0;
        padding: 30px 20px 50px 20px;
    }
}

@media (max-width: 1024px) {

    .card {
      width: 210px;
      height: 220px;
      align-items: center;
      justify-content: center;
    }

    .cardText {
      display: none;
    }

    .portadaimg {
        max-width: 450px;
        font-size: 12px;
    }
    
    .textRowLeft .textRowRight {
        height: 210px;
        font-size: 12px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    .cardTitle {
      font-size: 12px;
    }

    .textRowTitle {
        font-size: 18px;
        font-weight: 600;
    }

    .textRowText {
        font-size: 16px;
        font-weight: 500;
    }
}
