.banner{
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    object-position: center;
    display: block;
}

.bannerBlp {
  width: 98% !important;
  border-radius: 10px;
  margin-bottom: 20px;
  /* background-color: rgba(230, 230, 230, 0.8); */
  /* box-shadow: 0 0 8px rgba(0, 0, 0, 1); */

}

@media (max-width: 768px) {
    .banner {
      height: 180px; 
      object-position: center; 
    }

    .bannerComprar {
      height: 200px; 
      object-position: center; 
    }

    .bannerBlp{
        width: 90%;
        height: auto;
        display: block;
        max-height: 400px;
        object-fit: cover;
        object-position: center;
        display: block;
        border-radius: 10px;
    }

    /* .bannerInicio1 {
      object-fit: cover;
      object-position: 70% 100%;
    }
    .bannerInicio2 {
      object-fit: cover;
      object-position: 30% 100%;
    }
    .bannerInicio3 {
      object-fit: cover;
      object-position: 95% 100%;
    } */
  }